Host bastion
  Hostname 34.228.54.180
  User ubuntu
  IdentityFile ../erwindev-env/dev/dev_key
  ControlMaster auto
  ControlPath ~/.ssh/ansible-%r@%h:%p
  ControlPersist 5m

Host *
  User ubuntu
  ProxyCommand ssh -q -A ubuntu@34.228.54.180 nc -w 300 %h %p
  IdentityFile ../erwindev-env/dev/dev_key
